.fa-edit{
    color:blue
}
.fa-trash,.fa-times{
    color :red
}

.fa-check{
    color:green
}

select {
    /* for Firefox */
    -moz-appearance: none;
    /* for Chrome */
    -webkit-appearance: none;
  }
  
  /* For IE10 */
  select::-ms-expand {
    display: none;
  }

  select:disabled{
    background-color: transparent;
  }