<div id="invoicePage" class="container-fluid">
  <div class="float-right">
    <!-- navigate to create component on click -->
    <a class="btn btn-link " href="create"><span class="fa fa-plus">Create New</span></a>
  </div>
  <div class="float-right">
    <!-- navigate to create component on click -->
    <a class="btn btn-link" (click)="toggleFilter()">
      <span class="fa fa-filter" *ngIf="!filterEnabled">Filter</span>
      <span class="fa fa-filter" *ngIf="filterEnabled">Stop Filtering</span>
    </a>
  </div>
  <table class="table table-striped">
    <tr>
      <th>SI No</th>
      <th>
        <div class="form-group">
          Name
          <input type="text" id="nameFilter" [(ngModel)]="nameFilter" [hidden]="!filterEnabled">
        </div>
      </th>
      <th>
        <div class="form-group">
          Is Active
          <!-- Option to select between Active and inactive invoices -->
          <select id="isActiveFilter" [hidden]="!filterEnabled" [(ngModel)]="isActiveFilter">
            <option selected value="-1">All</option>
            <option value="1">Active</option>
            <option value="0">Inactive</option>
          </select>
        </div>
      </th>
      <th>Rules</th>
      <th>Action</th>
    </tr>
    <!-- loop through list of invoices -->
    <ng-container *ngFor="let invoice of (invoiceList| invoiceFilter:nameFilter:isActiveFilter:filterEnabled); let invoiceNo = index">
      <tr>
        <td>{{invoiceNo+1}}</td>
        <td><input [class]="editThisInvoice[invoiceNo] ? 'border-1': 'border-0'" id="invoiceName_{{invoiceNo}}" type="text"
            [value]="invoice.invoiceName">
        <td>
          <div id="invoiceCheckIcons_{{invoiceNo}}" [hidden]="editThisInvoice[invoiceNo]">
            <span class="fa fa-check" *ngIf="invoice.isActive"></span>
            <span class="fa fa-times" *ngIf="!invoice.isActive"></span>
          </div>
          <input id="invoiceIsActive_{{invoiceNo}}" type="checkbox" [checked]="invoice.isActive" [hidden]="!editThisInvoice[invoiceNo]">
        </td>
        <td>
          <!-- toggle button for collapsing rules -->
          <button data-toggle="collapse" attr.data-target="#rule_{{invoiceNo}}" (click)="ruleDropDown(invoiceNo)">
            <span [class]="ruleToggleClicked[invoiceNo] ? 'fa fa-angle-up': 'fa fa-angle-down'"></span>
          </button>
        </td>
        <td>
          <!-- button for editting invoice -->
          <a class="btn btn-link" (click)="setEditInvoice(invoiceNo)" [hidden]="editThisInvoice[invoiceNo]"><span class="fa fa-edit"></span></a>
          <!-- button for saving edited invoice -->
          <!-- displayed only after edit button is clicked -->
          <a class="btn btn-link" (click)="saveEdittedInvoice(invoiceNo,invoice.id)" [hidden]="!editThisInvoice[invoiceNo]"><span
              class="fa fa-save"></span></a>
          <!-- button for cancelling editting invoice -->
          <!-- displayed only after edit button is clicked -->
          <a class="btn btn-link" (click)="cancelEdittingInvoice(invoiceNo,invoice.id,'cancel')" [hidden]="!editThisInvoice[invoiceNo]"><span
              class="fa fa-times"></span></a>
          <!-- button for deleting invoice -->
          <a class="btn btn-link" data-toggle="modal" data-target="#confirmModal" (click)="confirmDelete('invoice',invoice.id)"
            [hidden]="editThisInvoice[invoiceNo]"><span class="fa fa-trash"></span></a>
        </td>
      </tr>

      <tr>
        <td colspan="5">
          <!-- data-parent="#invoicePage" -->
          <div id="rule_{{invoiceNo}}" class="collapse">
            <table class="table table-striped">
              <tr>
                <th>No</th>
                <th>Parameter</th>
                <th>Rules</th>
                <th>IsActive</th>
                <th>
                  <div class="float-right">
                    <a class="btn btn-outline-dark" *ngIf="invoice.ruleView.length != parameters.length" id="addNewRule_{{invoice.id}}"
                      data-toggle="modal" (click)="showRuleModal(invoice.id)" data-target="#addNewRule">Add
                      Rule</a>
                  </div>
                </th>
              </tr>
              <!-- loop through list of rules for corresponding invoice -->
              <tr *ngFor="let rule of invoice.ruleView;let ruleNo = index">
                <td>{{ruleNo+1}}</td>
                <!-- <td id="ruleParameterName_{{rule.ruleId}}">{{rule.parameterName}}</td> -->
                <!-- showing select-option for parameter for viewing purposes only -->
                <td>
                  <select required class="form-control border-0" id="ruleParameterId_{{rule.ruleId}}" disabled> 
                <!-- Loop through parameterList to display option with parameterId as value for each option -->
                <ng-container *ngFor="let parameter of parameters">
                      <option id="{{parameter.parameterId}}" value="{{parameter.parameterId}}" [selected]="parameter.parameterId == rule.parameterId">{{parameter.parameterName}}</option>
                    </ng-container>
                  </select>
                </td>
                <td><input [class]="editThisRuleInInvoice[invoiceNo].rule[ruleNo] ? 'border-1': 'border-0'" id="ruleValue_{{rule.ruleId}}"
                    type="text" value="{{rule.ruleValue}}" [readonly]="!editThisRuleInInvoice[invoiceNo].rule[ruleNo]"></td>
                <!-- show unchecked box if isActive of rule is false or checked box if isActive of rule is true-->
                <td>
                  <div id="ruleCheckIcons_{{rule.ruleId}}" [hidden]="editThisRuleInInvoice[invoiceNo].rule[ruleNo]">
                    <span class="fa fa-check" *ngIf="rule.isActive"></span>
                    <span class="fa fa-times" *ngIf="!rule.isActive"></span>
                  </div>
                  <input id="ruleIsActive_{{rule.ruleId}}" type="checkbox" [checked]="rule.isActive" [hidden]="!editThisRuleInInvoice[invoiceNo].rule[ruleNo]">
                </td>
                <td>
                  <!-- button for editting rule -->
                  <a class="btn btn-link" id="editRulebutton_{{rule.ruleId}}" (click)="setEditRule(invoiceNo,ruleNo)"
                    [hidden]="editThisRuleInInvoice[invoiceNo].rule[ruleNo]"><span class="fa fa-edit"></span></a>
                  <!-- button for saving edited rule -->
                  <!-- displayed only after edit button is clicked -->
                  <a class="btn btn-link" id="saveRulebutton_{{rule.ruleId}}" (click)="saveEdittedRule(invoice.id,rule.ruleId,invoiceNo,ruleNo)"
                    [hidden]="!editThisRuleInInvoice[invoiceNo].rule[ruleNo]"><span class="fa fa-save"></span></a>
                  <!-- button for cancelling editting rule -->
                  <!-- displayed only after edit button is clicked -->
                  <a class="btn btn-link" id="cancelRulebutton_{{rule.ruleId}}" (click)="cancelEdittingRule(invoice.id,rule.ruleId,invoiceNo,ruleNo,'cancel')"
                    [hidden]="!editThisRuleInInvoice[invoiceNo].rule[ruleNo]"><span class="fa fa-times"></span></a>
                  <!-- button for deleting rule -->
                  <a class="btn btn-link" id="deleteRulebutton_{{rule.ruleId}}" data-toggle="modal" data-target="#confirmModal"
                    (click)="confirmDelete('rule',rule.ruleId)" [hidden]="editThisRuleInInvoice[invoiceNo].rule[ruleNo]"><span
                      class="fa fa-trash"></span></a>
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </ng-container>
  </table>
</div>


<!-- Modal to Add New rule -->
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="addNewRule" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" id="addnewrule_close" class="close addnewrule_close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form class="form" #newRuleForm="ngForm" (ngSubmit)="addNewRule(newRuleForm)">
            <div class="form-group">
              <label class="col-lg-12 col-form-label control-label">Parameter<span style="color: red">*</span></label>
              <select required class="form-control" id="parameterId" name="parameterId" [(ngModel)]="parameterId"
                #parameterIdControl="ngModel">
                <!-- Loop through parameterList to display option with parameterId as value for each option -->
                <ng-container *ngFor="let parameter of modalParameters">
                  <option id="{{parameter.parameterId}}" value="{{parameter.parameterId}}">{{parameter.parameterName}}</option>
                </ng-container>
              </select>
            </div>
            <div class="form-group">
              <label class="col-lg-12 col-form-label control-label">Rule Value<span style="color: red">*</span></label>
              <input type="text" required class="form-control" id="ruleValue" name="ruleValue" [(ngModel)]="ruleValue"
                #ruleValueControl="ngModel">
            </div>
            <div class="form-group">
              <label class="col-form-label control-label">isActive &nbsp;&nbsp;</label>
              <input type="checkbox" id="isActive" name="isActive" [(ngModel)]="isActive">
            </div>

            <button type="submit" class="btn btn-success" [disabled]="parameterIdControl.invalid ||ruleValueControl.invalid">Add</button>
            <div class="float-right">
              <a href="" class="btn btn-outline-dark" data-dismiss="modal">Close</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal for confirm deletion-->
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="confirmModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" id="deletion_close" class="close deletion_close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          <h4>Are you sure?</h4>
          <button type="submit" class="btn btn-success" (click)="delete()">Yes</button>
          <div class="float-right">
            <a href="" class="btn btn-outline-dark" data-dismiss="modal">Close</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>