<div id="invoicePage" class="container-fluid">
  <div class="float-right">
    <!-- navigate to create component on click -->
    <a class="btn btn-link " href="create"><span class="fa fa-plus">Create New</span></a>
  </div>
  <div class="float-right">
    <!-- navigate to create component on click -->
    <a class="btn btn-link" id="buttonBeforeFilter" (click)="enableFilter()"><span class="fa fa-filter">Filter</span></a>
    <a class="btn btn-link" id="buttonAfterFilter" (click)="disableFilter()" hidden><span class="fa fa-filter">Stop
        Filtering</span></a>
  </div>
  <table class="table table-striped">
    <tr>
      <th>SI No</th>
      <th>
        <div class="form-group">
          Name
          <input type="text" id="nameFilter" hidden (keyup)="nameFiltering()">
        </div>
      </th>
      <th>
        <div class="form-group">
          Is Active
          <!-- Option to select between Active and inactive invoices -->
          <select id="isActiveFilter" hidden (change)="isActiveFiltering()">
            <option selected value="1">All</option>
            <option value="2">Active</option>
            <option value="3">Inactive</option>
          </select>
        </div>
      </th>
      <th>Rules</th>
      <th>Action</th>
    </tr>
    <!-- loop through list of invoices -->
    <ng-container *ngFor="let invoice of invoices;let invoiceNo = index">
      <tr>
        <td>{{invoiceNo+1}}</td>
        <td><input class="border-0" id="invoiceName_{{invoice.id}}" name="{{invoice.id}}" type="text" value="{{invoice.invoiceName}}"
            readonly></td>
        <!-- show unchecked box if isActive of invoice is false or checked box if isActive of invoice is true-->
        <td>
          <div id="invoiceCheckIcons_{{invoice.id}}">
            <span class="fa fa-check" *ngIf="invoice.isActive"></span>
            <span class="fa fa-times" *ngIf="!invoice.isActive"></span>
          </div>
          <input id="invoiceIsActive_{{invoice.id}}" type="checkbox" [checked]="invoice.isActive" hidden>
        </td>
        <td>
          <!-- toggle button for collapsing rules -->
          <button data-toggle="collapse" attr.data-target="#rule_{{invoice.id}}" (click)="changeIcon(invoice.id)" id="button_{{invoice.id}}">
            <span class="fa fa-angle-down" id="arrow_{{invoice.id}}"></span>
          </button>
        </td>
        <td>
          <!-- button for editting invoice -->
          <a class="btn btn-link" id="editInvoicebutton_{{invoice.id}}" (click)="setEditInvoice(invoice.id)"><span
              class="fa fa-edit"></span></a>
          <!-- button for saving edited invoice -->
          <!-- displayed only after edit button is clicked -->
          <a class="btn btn-link" id="saveInvoicebutton_{{invoice.id}}" (click)="saveEdittedInvoice(invoice.id)" hidden><span
              class="fa fa-save"></span></a>
          <!-- button for cancelling editting invoice -->
          <!-- displayed only after edit button is clicked -->
          <a class="btn btn-link" id="cancelInvoicebutton_{{invoice.id}}" (click)="cancelEdittingInvoice(invoice.id,'cancel')"
            hidden><span class="fa fa-times"></span></a>
          <!-- button for deleting invoice -->
          <a class="btn btn-link" id="deleteInvoicebutton_{{invoice.id}}" data-toggle="modal" data-target="#confirmModal"
            (click)="confirmDelete('invoice',invoice.id)"><span class="fa fa-trash"></span></a>
        </td>
      </tr>

      <tr>
        <td colspan="5">
          <div id="rule_{{invoice.id}}" class="collapse" data-parent="#invoicePage">
            <table class="table table-striped">
              <tr>
                <th>No</th>
                <th>Parameter</th>
                <th>Rules</th>
                <th>IsActive</th>
                <th>
                  <div class="float-right">
                    <a class="btn btn-outline-dark" *ngIf="invoice.ruleView.length != parameters.length" id="addNewRule_{{invoice.id}}"
                      data-toggle="modal" (click)="showRuleModal(invoice.id)" data-target="#addNewRule">Add
                      Rule</a>
                  </div>
                </th>
              </tr>
              <!-- loop through list of rules for corresponding invoice -->
              <tr *ngFor="let rule of invoice.ruleView;let ruleNo = index">
                <td>{{ruleNo+1}}</td>
                <td id="ruleParameterName_{{rule.id}}">{{rule.parameterName}}</td>
                <!-- showing select-option for parameter for editting purposes only -->
                <td id="ruleParameterOption_{{rule.id}}" hidden>
                  <select required class="form-control" id="ruleParameterId_{{rule.id}}">
                    <!-- Loop through parameterList to display option with parameterId as value for each option -->
                    <ng-container *ngFor="let parameter of parameters">
                      <option id="{{parameter.parameterId}}" value="{{parameter.parameterId}}" selected="{{parameter.parameterName}} == {{rule.parameterName}}">{{parameter.parameterName}}</option>                     
                    </ng-container>
                  </select>
                </td>
                <td><input class="border-0" id="ruleValue_{{rule.id}}" name="{{rule.id}}" type="text" value="{{rule.ruleValue}}"
                    readonly></td>
                <!-- show unchecked box if isActive of rule is false or checked box if isActive of rule is true-->
                <td>
                  <div id="ruleCheckIcons_{{rule.id}}">
                    <span class="fa fa-check" *ngIf="rule.isActive"></span>
                    <span class="fa fa-times" *ngIf="!rule.isActive"></span>
                  </div>
                  <input id="ruleIsActive_{{rule.id}}" type="checkbox" [checked]="rule.isActive" hidden>
                </td>
                <td>
                  <!-- button for editting rule -->
                  <a class="btn btn-link" id="editRulebutton_{{rule.id}}" (click)="setEditRule(rule.id)"><span class="fa fa-edit"></span></a>
                  <!-- button for saving edited rule -->
                  <!-- displayed only after edit button is clicked -->
                  <a class="btn btn-link" id="saveRulebutton_{{rule.id}}" (click)="saveEdittedRule(invoice.id,rule.id)"
                    hidden><span class="fa fa-save"></span></a>
                  <!-- button for cancelling editting rule -->
                  <!-- displayed only after edit button is clicked -->
                  <a class="btn btn-link" id="cancelRulebutton_{{rule.id}}" (click)="cancelEdittingRule(invoice.id,rule.id,'cancel')"
                    hidden><span class="fa fa-times"></span></a>
                  <!-- button for deleting rule -->
                  <a class="btn btn-link" id="deleteRulebutton_{{rule.id}}" data-toggle="modal" data-target="#confirmModal"
                    (click)="confirmDelete('rule',rule.id)"><span class="fa fa-trash"></span></a>
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </ng-container>
  </table>
</div>


<!-- Modal to Add New rule -->
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="addNewRule" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" id="addnewrule_close" class="close addnewrule_close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <form class="form" #newRuleForm="ngForm" (ngSubmit)="addNewRule(newRuleForm)">
            <div class="form-group">
              <label class="col-lg-12 col-form-label control-label">Parameter<span style="color: red">*</span></label>
              <select required class="form-control" id="parameterId" name="parameterId" [(ngModel)]="parameterId"
                #parameterIdControl="ngModel">
                <!-- Loop through parameterList to display option with parameterId as value for each option -->
                <ng-container *ngFor="let parameter of modalParameters">
                  <option id="{{parameter.parameterId}}" value="{{parameter.parameterId}}">{{parameter.parameterName}}</option>
                </ng-container>
              </select>
            </div>
            <div class="form-group">
              <label class="col-lg-12 col-form-label control-label">Rule Value<span style="color: red">*</span></label>
              <input type="text" required class="form-control" id="ruleValue" name="ruleValue" [(ngModel)]="ruleValue"
                #ruleValueControl="ngModel">
            </div>
            <div class="form-group">
              <label class="col-form-label control-label">isActive &nbsp;&nbsp;</label>
              <input type="checkbox" id="isActive" name="isActive" [(ngModel)]="isActive">
            </div>

            <button type="submit" class="btn btn-success" [disabled]="parameterIdControl.invalid ||ruleValueControl.invalid">Add</button>
            <div class="float-right">
              <a href="" class="btn btn-outline-dark" data-dismiss="modal">Close</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Modal for confirm deletion-->
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="confirmModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
            <button type="button" id="deletion_close" class="close deletion_close" data-dismiss="modal">&times;</button>
        </div>

        <div class="modal-body">
          <h4>Are you sure?</h4>
          <button type="submit" class="btn btn-success" (click)="delete()">Yes</button>
          <div class="float-right">
            <a href="" class="btn btn-outline-dark" data-dismiss="modal">Close</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>